
body {
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

header {
  font-family: Helvetica, Arial, sans serif;
  background: #f7ce39;
  text-align: center;
  color: black;

}

section{
  max-width: 960px;
  padding: 3em;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  font-size: 22px;
}

h1 {
  display: inline-block;width:400px;font-weight:700; font-size: 42px;

}
h3{
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3em;
  background-color: #f7ce39;
  padding-left: 0.3em;
}
.p-header{
  display: inline-block;width: 400px;font-weight:300;font-size:42px;
}
.div-header {
  background:red;padding: 1em;
  background: #0a0801;
  color:white;
  text-align: center;
  font-weight: 200;
  font-size: 26px;
}
.me{
  border-radius:10%;
  width: 200px;

}
.div-me{
  display: inline-block;
  width: 35%;
  padding-right: 0;

}
.primero{
  display: inline-block;
  width: 64%;
  vertical-align: top;

}


a{
  text-decoration: none;
  color: black;
  hover: grey;
  cursor: pointer;
}
a:hover{
  opacity:0.8;
  color: red;
  font-weight: 700;
}


@media(max-width:768px){


.div-me{
display: block;
margin: auto;
padding: 1em 0;
}

.primero{
  display: block;
  width: 100%;
}
section{
  padding: 1em;
}
}
